.item {
    font-size: 1.2rem;
    list-style-type: none;
    padding: 17px 0px;
    border-bottom: 1px solid #eaeaea;
  }
  
  .checkbox input {
    margin-right: 1px;
    align-items:center;
    text-align: left;
    padding-right:25px;
  }