.App {
  text-align: center;
  padding : 10px;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.navBar {
  background-color: grey;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
}

.navBar ul{
  display:inline-flex;
  color:white;
} 

.maintodo{
  display:flow-root;
  letter-spacing: 0px;
  width: 100%;
}

.todobutton{
  display:inline;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input {

  border : none;
  margin-left: 25px;
  padding-bottom: 5px;
  margin-left: 55px;
  margin-top:10px;
  margin-bottom: 10px;
  height: 25px;
  

}

label{

  color: White;
  margin-right: 20px;
  margin-top : 20px;
  text-align:start;
}

select{
 

    border : none;
    margin-left: 25px;
    margin-top:10px;
    margin-bottom: 10px;
    height:28px;
    width: 200px;
  
  
}
.active-link {
  color: orangered;
  text-decoration: underline;
}

button {
  background:rgb(86, 140, 211);
  border-radius: 0px;
  font-size: medium;
  margin-top: 20px;
  margin-left: 20px;
  padding-left: 0px;
  padding-right: 0px;
  height: 35px;
  width: 95px;
  
}

button:focus {
  outline: none;
}

body{
  background-color:rgba(0, 0, 0, 0.849);
  line-height: 1.4;
  height: 100vh;
}

span{
  font-style:italic;
  color:red;

  padding-left :150px;
}
ul{
  display: inline;
  list-style: none;
}

li{
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
    padding-right:25px;
     
    color:orange;
}

h1{
padding-bottom: 25px;

}

.todo{

  text-align:center;


}
th{
  color:orange;
  font-size:x-large;
  align-items:flex-start;
  margin-left: 20px;
  padding-right: 10px;
    padding-left: 10px;
    block-size: 20px;
}
td{

  color: white;
  font-size:medium;
  padding : 8px;
  width:fit-content;
}

table {
  align-items: center;
  border: mintcream;
  table-layout: fixed;
  width: 1400px;
  
}
.todo-container div{

  display:inline-block;
}

.todo-container{
  display: flex;
  justify-content:left ;

}

.container{
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  max-width: 800px;
  margin: 0 auto;
}

.inner{
  width: 100%;
  padding: 8rem 10px 4rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
textarea {

  margin-left:40px;
  margin-top:10px;
  margin-bottom: 0px;
  height: 45px;
  width:200px;
}

.sort-direction {
  display: inline-block;
  height: 0;
  width: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
  
  .asc {
    border-bottom: 5px solid white;
  }
  
  .desc {
    border-top: 5px solid white;
  }

  p{

    margin-top : 20px;
    font-size: large;
    margin-right: 80px;
  }

 



